@mixin ell() {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

$baseColor: #d33a31;

@function pr($px, $base-font-size: 50px) {
  @if (unitless($px)) {
    //@warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels for you";
    @return pr($px + 0px); // That may fail.
  } @else if (unit($px) == rem) {
    @return $px;
  }
  @return ($px / $base-font-size) * 1rem;
}

@font-face {
  font-family: 'iconfont';  /* project id 311056 */
  src: url('//at.alicdn.com/t/font_e3r3kwh70n8hyqfr.eot');
  src: url('//at.alicdn.com/t/font_e3r3kwh70n8hyqfr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_e3r3kwh70n8hyqfr.woff') format('woff'),
  url('//at.alicdn.com/t/font_e3r3kwh70n8hyqfr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_e3r3kwh70n8hyqfr.svg#iconfont') format('svg');
}
